*{

}
.container{
    display: flex;
    width:100%;
}
.home__title{
  font-size:50px;
  margin-bottom: var(--mb-5);
  margin-top: 50px;
}
.home__title-color{
  color: blue
}
.left{
 margin-left: 10%;
}
.right>img{
  margin-top: 10px;
  height: 700px;

}

.btn{
    position: relative;
    width: 200px;
    margin-left: 5px;
    background-color:blue;
    border-color: #db3939;
    color: #fff;
    box-shadow: 0 4px 7px 0 rgb(42 46 59 / 16%);
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: none;
    white-space: nowrap;
    border-radius: 40000px;
    padding: 10px 24px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 50px;
}
.footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  margin-top: 50px;
  width: 100%;
 
}
.footer__title{
  font-size: 2rem;
  /* margin-bottom: var(--mb-4); */
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
  margin-left: 20px;
}
.btn>a{
  text-decoration: none;
  color:#fff;
}
@media only screen and (max-width: 950px) and (min-width: 500px)  {
.right>img{
  height: 500px;
}

}
@media only screen and (max-width:1366px) and (min-width: 1024px)  {
.footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  margin-top: 50px;
  width: 100%;
  margin-bottom:-100px;
  height: 290px;
}
.footer__title{
  font-size: 4rem;
  /* margin-bottom: var(--mb-4); */
}
.footer__social{
  margin-bottom: var(--mb-4);
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer__icon{
  font-size: 3.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
  margin-left: 20px;
  margin-top: 50px;
}

}
@media only screen and (max-width: 700px) and (min-width: 300px)  {
.container{
    display: flex;
    flex-direction:column;
       width:98%;
}
.right>img{
  width:98%;
  height: auto;
}
.left,.right{
  width: 90%;
  
}
.home__title{
  font-size:45px;
  margin-bottom: var(--mb-5);
  margin-top: 50px;
}
.footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  margin-top: 50px;
  width: 100%;
 
}

}