
.work{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    gap:20px;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   height: 500px;
}
.work__container{
  row-gap: 2rem;
 
}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
   width: 400px;
  height: 600px;
}
.work__img img{
  transition: 1s;
  width: 400px;
  height: 300px;
  cursor: pointer;
}
.work__img img:hover{
  transform: scale(1.1);
}
.description{
  text-align: center;
}
.description>button{
  width: 120px;
  height: 30px;
background-color: blue;
color: #fff;
box-shadow: 0 4px 7px 0 rgb(42 46 59 / 16%);display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: none;
    white-space: nowrap;
    border-radius: 40000px;
    font-size: 16px;
    line-height: 24px;
margin-top: 20px;
}
.description>button>a{
 text-decoration: none;
 color: white;

}
 @media only screen and (max-width: 1200px) and (min-width:900px)  {
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
   width: 300px;
  height: 700px;
}
.work__img img{
  transition: 1s;
  width: 300px;
  height: 300px;
  cursor: pointer;
}
  }
   @media only screen and (max-width:900px) and (min-width:600px)  {
     .work{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    gap:20px;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   height: 500px;
}
.work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
   width: 300px;
  height: 700px;
}
.work__img img{
  transition: 1s;
  width: 300px;
  height: 300px;
  cursor: pointer;
}
  }
  @media only screen and (max-width:600px) and (min-width:300px)  {

   .work{
    display: grid;
    grid-template-columns: repeat(1,auto);
   
    gap:20px;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   height: 500px;
}    .work__img{
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  border-radius: .5rem;
  overflow: hidden;
   width:98%;
  height: 550;
  padding-bottom: 20px;
  padding: 1%;
}
.work__img img{
  transition: 1s;
   width: 98%;
  height: 300px;
  cursor: pointer;
}
  }

  @media only screen and (max-width: 700px) and (min-width: 300px)  {
.container{
    display: flex;
    flex-direction:column;
       width: 100%;
}
.right>img{
   width: 100%;
}

}